@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .step-item-title
    &:before
      border-right-width: 102px

  .s-scheme
    .section-title
      font-size: 70px

  .s-form
    .section-title
      font-size: 78px

  .form-img
    width: 308px

  .before-text
    display: none

  .s-advantages
    margin-bottom: -90px

  .gallery
    top: 112px

  .advantages-wrap
    margin: 0

  .adv-item
    padding: 25px 35px 25px 45px

  .intro-slide
    h1
      font-size: 90px
      margin-bottom: 5px
    p
      font-size: 36px

  .btn-largetext
    font-size: 28px

// ≥992px
+media-breakpoint-down(md)

  .s-contacts
    padding-bottom: 0

  #map
    margin-top: 50px
    margin-left: 0

  .s-scheme
    padding: 130px 0
    .section-title
      text-align: center
      margin-bottom: 60px
      font-size: 68px
  .scheme-content
    padding-left: 0

  .steps-wrap
    margin-bottom: 40px

  .step-item-title:before
    border-right-width: 158px

  .s-form
    .contact-form
      width: 300px
    .section-title
      font-size: 56px
  .arrow-form
    label
      margin-bottom: 15px
      margin-right: 0
      width: 100%
    .form-labels-wrap
      flex-direction: column
    .btn-label
      align-self: auto
      margin-top: 10px
      width: 100%
      &:before
        display: none
    .btn
      width: 100%

  .gallery
    position: relative
    top: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  .gal-item
    position: relative
    right: 0!important
    top: 0!important
    width: calc(33.333% - 5px)!important
    height: 221px!important
    margin-bottom: 10px
    &:nth-child(10)
      display: none

  .btn-largetext
    font-size: 22px

  .section-title
    font-size: 68px

  .gallery-content
    width: 100%
    margin-bottom: 30px

  .s-gallery
    padding-top: 120px
    padding-bottom: 100px
    .section-title
      margin-bottom: 40px
      text-align: center

  .s-advantages
    margin-bottom: -70px

  .adv-item
    padding: 25px
    &-icon
      .svg
        height: 40px
    &-title
      font-size: 19px

  .intro-slider
    margin-top: 120px

  .s-intro
    padding-bottom: 200px

  .intro-slide
    h1
      font-size: 68px
    p
      font-size: 28px
      margin-bottom: 20px
    .btn-largetext
      font-size: 22px

  .header-line
    flex-wrap: wrap

  .head-item
    width: 50%
    order: 5

  .head-logo
    order: 1
    margin-bottom: 20px

  .head-marks
    order: 2
    text-align: right

  .head-phone
    text-align: right



// ≥768px
+media-breakpoint-down(sm)

  .s-scheme
    padding: 100px 0 80px
    .section-title
      font-size: 50px

  .step-item-title:before
    border-right-width: 115px

  .form-img
    width: 270px
    left: -40px
    bottom: -90px

  .s-form
    overflow: hidden
    .section-title
      padding-left: 0
      text-align: center
      font-size: 50px
      margin-bottom: 40px
    .contact-form
      margin-left: auto

  .section-title
    font-size: 50px

  .s-advantages
    background-color: $grey
    top: 0
    padding-top: 45px
    padding-bottom: 20px

  .adv-item, .adv-item:nth-child(1)
    background-image: url('../img/bg-advitem.jpg')
    background-position: 267px -240px

  .adv-item:nth-child(2)
    background-position: 0 -240px

  .advantages-wrap
    flex-direction: column
    box-shadow: none

  .adv-item
    margin-bottom: 30px
    clip-path: none
    box-shadow: 4px 4px 4px rgba(#000, .2)
    justify-content: center
    &:before, &:after
      display: none
    &-icon
      .svg
        height: 60px
    &-title
      font-size: 22px

  .intro-slide
    padding: 0 50px 10px
    h1
      font-size: 50px

  .head-hamburger
    display: block

  .mnu-line
    display: none

  .head-logo
    width: 33.333%
    margin-bottom: 40px

  .head-marks
    width: 33.333%
    text-align: center

  .head-buttons
    white-space: nowrap

// ≥480px
+media-breakpoint-down(xs)

  .s-contacts
    .section-title
      text-align: center

  .contacts-block
    font-size: 14px

  .contact-item
    font-size: 14px
    .svg
      width: 18px

  .contacts-notice
    margin-top: 50px

  #map
    margin-left: -10px
    margin-right: -10px
    height: 350px

  .s-scheme
    padding: 50px 0
    .section-title
      font-size: 42px
      margin-bottom: 40px

  .scheme-notice
    font-size: 14px

  .steps-wrap
    flex-wrap: wrap

  .step-item
    width: calc(50% - 10px)
    margin-bottom: 20px
    overflow-x: hidden
    &-title
      &:before
        border-right-width: 233px
    &:before
      top: 5px
      left: 5px
      color: darken($grey, 5%)
    &:nth-child(even)
      margin-top: 0
    &:nth-child(odd)
      margin-top: 0
  .s-form
    .section-title
      font-size: 42px
    .contact-form
      width: 100%
      max-width: 320px
      margin-left: auto
      margin-right: auto
      span
        margin-bottom: 5px
      .form-labels-wrap
        line-height: 1
        display: block


  .form-img
    display: none



  .section-title
    font-size: 42px

  .s-gallery
    padding-bottom: 50px

  .gal-item
    width: calc(50% - 5px) !important
    height: 160px!important
    &:nth-child(9)
      display: none

  .adv-item
    &-icon
      .svg
        height: 45px

  .intro-slider
    margin-top: 80px

  .intro-slide
    padding: 0 35px 10px
    h1
      font-size: 42px
    p
      font-size: 24px

  .head-logo
    width: auto

  .head-marks
    margin-bottom: 40px
  .head-hamburger
    margin-bottom: 40px

  .head-buttons
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    .btn
      margin-right: 0
      width: calc(50% - 5px)

  .head-phone
    width: 100%
    text-align: center

@media screen and (max-width: 370px)

  .header-line
    position: relative

  .head-hamburger
    position: absolute
    top: 35px
    right: 0

  .head-marks
    position: relative
    top: 25px
    text-align: right
    .svg
      height: 25px
    .head-cart
      margin-left: 15px

  .head-buttons
    display: block
    margin-bottom: 0
    .btn
      display: block
      width: 100%
      margin-bottom: 20px
      padding-top: 12px
      padding-bottom: 10px
      &:last-child
        margin-bottom: 0

  .head-phone
    order: 4
    margin-bottom: 20px



/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
